.datePickerMain {
  width: 660px;
  height: 499px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -4px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 36px;
}
.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
